@model TicketStationMVC.ViewModels.Events.EventCreateVM

@{
    ViewData["Title"] = "Create";
}

<div class="container-md my-2 custom-container">
    <div class="row">
        <p class="lead mt-5 mb-1">Create</p>
        <div class="col d-flex justify-content-between align-items-center mt-1 mb-3">
            <div>
                <h1>New Event</h1>
            </div>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <a class="btn btn-primary" asp-action="Index" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Back to list"><i class="bi bi-arrow-left"></i></a>
            </div>
        </div>
    </div>

    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container px-0">
            <div class="row py-2">
                <div class="col">
                    <div class="form-group d-flex flex-column">
                        <label asp-for="Name" class="control-label text-muted"></label>
                        <input asp-for="Name" class="form-control"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col">
                    <div class="form-group d-flex flex-column">
                        <label asp-for="Description" class="control-label text-muted"></label>
                        <textarea asp-for="Description" class="form-control" style="height: 5rem; resize:none;"></textarea>
                        @* <input asp-for="Description" class="form-control" type="text"/> *@
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col">
                    <div class="form-group d-flex flex-column">
                        <label asp-for="Price" class="control-label text-muted"></label>
                        <input asp-for="Price" class="form-control"/>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col">
                    <div class="form-group d-flex flex-column">
                        <label asp-for="Quantity" class="control-label text-muted"></label>
                        <input asp-for="Quantity" class="form-control"/>
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col">
                    <div class="form-group d-flex flex-column">
                        <label asp-for="DateOfEvent" class="control-label text-muted"></label>
                        <input asp-for="DateOfEvent" class="form-control" />
                        <span asp-validation-for="DateOfEvent" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col">
                    <div class="form-group d-flex flex-column">
                        <label class="form-check-label">
                            <label asp-for="Status" class="control-label text-muted"></label>
                            <input class="form-check-input" asp-for="Status" /> Upcoming event
                        </label>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col">
                    <div class="form-group d-flex flex-column">
                        <label asp-for="CategoryIds" class="control-label text-muted"></label>
                        <select asp-for="CategoryIds" class="form-control" asp-items="ViewBag.CategoriesIdVD"></select>
                        <span asp-validation-for="CategoryIds" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col">
                    <div class="form-group d-flex flex-column">
                        <label for="imageFile" class="control-label text-muted">Image</label>
                        <input type="file" class="form-control" id="imageFile" name="imageFile">
                    </div>
                </div>
            </div>
        </div>

        <input type="submit" value="Create" class="btn btn-primary px-4" />

    </form>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
