@model TicketStationMVC.ViewModels.Events.EventEditVM

@{
    ViewData["Title"] = "Edit";
}

<div class="container-md my-2 custom-container">
    <div class="row">
        <p class="lead mt-5 mb-1">Create</p>
        <div class="col d-flex justify-content-between align-items-center mt-1 mb-3">
            <div>
                <h1>New Event</h1>
            </div>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <a class="btn btn-primary" asp-action="Index" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Back to list"><i class="bi bi-arrow-left"></i></a>
            </div>
        </div>
    </div>

    <form asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="container px-0">
            <div class="row py-2">
                <div class="col">
                    <div class="form-group d-flex flex-column">
                        <input asp-for="Name" class="form-control" placeholder="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col">
                    <div class="form-group d-flex flex-column">
                        <input asp-for="Description" class="form-control" placeholder="Description" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col">
                    <div class="form-group d-flex flex-column">
                        <input asp-for="Price" class="form-control" placeholder="Price &#8364;" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col">
                    <div class="form-group d-flex flex-column">
                        <input asp-for="Quantity" class="form-control" placeholder="Quantity" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col">
                    <div class="form-group d-flex flex-column">
                        <label asp-for="DateOfEvent" class="control-label"></label>
                        <input asp-for="DateOfEvent" class="form-control" />
                        <span asp-validation-for="DateOfEvent" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col">
                    <div class="form-group d-flex flex-column">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Status" /> Upcoming event
                        </label>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col">
                    <div class="form-group d-flex flex-column">
                        <label asp-for="CategoryIds" class="control-label"></label>
                        <select asp-for="CategoryIds" class="form-control" asp-items="ViewBag.CategoriesID"></select>
                        <span asp-validation-for="CategoryIds" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col">
                    <div class="form-group d-flex flex-column">
                        <label for="imageFile">Image</label><br>
                        <input type="file" class="form-control" id="imageFile" name="imageFile">
                    </div>
                </div>
            </div>
        </div>

        <input type="submit" value="Edit" class="btn btn-primary px-4" />

    </form>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
