@model TicketStationMVC.ViewModels.Account.AccountChangePassVM

@{
    ViewData["Title"] = "ChangePassword";
}

<h1>ChangePassword</h1>

<h4>AccountChangePassVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="OldPass" class="control-label">Enter your current password:</label>
                <input asp-for="OldPass" class="form-control" />
                <span asp-validation-for="OldPass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPass" class="control-label">Enter your new password:</label>
                <input asp-for="NewPass" class="form-control" />
                <span asp-validation-for="NewPass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassVerfication" class="control-label">Enter your new password again:</label>
                <input asp-for="NewPassVerfication" class="form-control" />
                <span asp-validation-for="NewPassVerfication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
