@model TicketStationMVC.ViewModels.User.UserCreateVM

@{
    ViewData["Title"] = "Create";
}

<div class="container-md my-2 custom-container">
    <div class="row">
        <p class="lead mt-5 mb-1">Create</p>
        <div class="col d-flex justify-content-between align-items-center mt-1 mb-3">
            <div>
                <h1>New User</h1>
            </div>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <a class="btn btn-primary" asp-action="Index" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Back to list"><i class="bi bi-arrow-left"></i></a>
            </div>
        </div>
    </div>

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container px-0">
            <div class="row py-2">
                <div class="col">
                    <div class="form-group d-flex flex-column">
                        <input asp-for="Name" class="form-control" placeholder="Name" /> 
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col">
                    <div class="form-group d-flex flex-column">
                        <input asp-for="Username" class="form-control" placeholder="Username" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col">
                    <div class="form-group d-flex flex-column">
                        <input asp-for="Email" class="form-control" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col">
                    <div class="form-group d-flex flex-column">
                        <input asp-for="Password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col">
                    <div class="form-group d-flex flex-column">
                        <select asp-for="RoleId" class="form-control" title="Role" asp-items="ViewBag.RoleIdVD"></select>
                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <input type="submit" value="Create" class="btn btn-primary px-4" />
       
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
