@model TicketStationMVC.ViewModels.User.UserEditVM

@{
    ViewData["Title"] = "Edit";
}

<div class="container-md my-2 custom-container">
    <div class="row">
        <p class="lead mt-5 mb-1">User Edit</p>
        <div class="col d-flex justify-content-between align-items-center mt-1 mb-3">
            <div>
                <h1>@Model.Name</h1>
            </div>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <a class="btn btn-primary" asp-action="Index" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Back to list"><i class="bi bi-arrow-left"></i></a>
            </div>
        </div>
    </div>

    <form id="editUserForm" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container px-0">
            <div class="row py-2">
                <div class="col">
                    <div class="form-group d-flex flex-column">
                        <input asp-for="Name" class="form-control" placeholder="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col">
                    <div class="form-group d-flex flex-column">
                        <input asp-for="Username" class="form-control" placeholder="Username" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col">
                    <div class="form-group d-flex flex-column">
                        <input asp-for="Email" class="form-control" placeholder="Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col">
                    <div class="form-group d-flex flex-column">
                        <input asp-for="Password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row py-2">
                <div class="col">
                    <div class="form-group d-flex flex-column">
                        <select asp-for="RoleId" class="form-control" title="Role" asp-items="ViewBag.RoleIdVD"></select>
                        <span asp-validation-for="RoleId" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-success px-4" data-bs-toggle="modal" data-bs-target="#editUserModal">Edit</button>
    </form>
</div>

<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Edit @Model?.GetType().Name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Would you like to save the changes made to '@Html.DisplayFor(model => model.Name)' @Model?.GetType().Name?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="saveChangesBtn">Save changes</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        // Handle form submission from the modal
        document.getElementById("saveChangesBtn").addEventListener("click", function () {
            document.getElementById("editUserForm").submit(); // Submit the form when "Save changes" is clicked
        });
    </script>
}
